<!--@subject New Request {{trans "#%requestId" requestId=$requestId}}  @-->
{{template config_path="design/email/header_template"}}
<table width="100%">
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %adminEmail," adminEmail=$adminEmail}}</p>
            <p>{{trans "You have a new request from %store_name." store_name=$store.getFrontendName()}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h3>{{trans "Request"}} <span style="font-weight: bold">{{trans "#%requestId" requestId=$requestId}}</span></h3>
            <p>{{trans "Order"}} <span style="font-weight: bold">{{trans "#%orderIncrementId" orderIncrementId=$orderIncrementId}}</span></p>
            <p>{{trans "Customer Name: "}}{{trans "%customerName" customerName=$customerName}}</span></p>
            <p>{{trans "Description: "}}{{trans "%description" description=$description}}</p>
            <p>{{trans 'Request created at: %createdAt GMT' createdAt=$createdAt}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}