<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Cap_Rma::Request" sortOrder="10" title="Request">
					<resource id="Cap_Rma::Request_save" sortOrder="10" title="Save Request"/>
					<resource id="Cap_Rma::Request_delete" sortOrder="20" title="Delete Request"/>
					<resource id="Cap_Rma::Request_update" sortOrder="30" title="Update Request"/>
					<resource id="Cap_Rma::Request_view" sortOrder="40" title="View Request"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
